.react-calendar__navigation__arrow,
.react-calendar__navigation__next2-button {
	background-color: transparent !important;
	background: transparent !important;
}

// .react-calendar__tile .react-calendar__month-view__days__day

.react-calendar__month-view__days__day--weekend {
	color: var(--variant-one) !important;
}

.react-calendar__month-view__days__day--weekend,
:disabled {
	color: var(--variant-one) !important;
}

.react-calendar__month-view__days__day--weekend,
.react-calendar__tile {
	&:disabled {
		color: var(--variant-two-med) !important;
	}
}
